@import 'anim.css';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root
{
    --neon-base: rgb(208, 252, 225);
    --neon-color: #2faf74; 
}

body
{
    background: rgba(0, 0, 0, 0);
    width: 100%;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

#window
{
    background-image: url('/svg/background.svg');
    width: 100%;
    height: 100vh;
    margin: 0;
    transition: background 0.5s linear;
    position: absolute;
    z-index: 1;
}

#logincontainer
{   
    position: absolute;
    z-index: 2;
    width: 25vw;
    height: 74vh;
    top: 8vh;
    left: 19.5vw;
    box-shadow: -3px 0px 20px black; 
    background: #140e0e;/*linear-gradient(to top, #0d0d0d, #171717);*/
}

#signupcontainer
{
    position: absolute;
    z-index: 2;
    width: 40vw;
    height: 74vh;
    top: 8vh;
    left: 45.5vw;
    box-shadow: 3px 0px 20px black;
    background: #140e0e;/*linear-gradient(to top, #0d0d0d, #171717);*/
}

.dashbar
{
    color: white;
    padding: 0.5vh;
    text-align: center;
}

.dashbar::after
{
    content: "";
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 3%, var(--neon-base) 3% 98%, rgba(0, 0, 0, 0) 98%);
    width: 100%;
    height: 1px;
    display: block;
}

#loginform input
{
    background-color: /*#2e2b2b*/#1d1d1d;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.1em;
    margin-left: 0.85vw;
    color: white;
    width: 23.1vw;
    height: 3vh;
    margin-top: 9vh;
    border: none;
    outline: none;
}

#createform input
{
    background-color: /*#2e2b2b*/#1d1d1d;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.1em;
    margin-left: 0.85vw;
    color: white;
    width: 38.1vw;
    height: 3vh;
    margin-top: 9vh;
    border: none;
    outline: none;
}

#loginform input:hover
{
    background-color: rgba(41, 39, 39, 0.75);
}

#createform input:hover
{
    background-color: rgba(41, 39, 39, 0.75);
}

#userwrap::before
{
    content: "Username:";
    font-size: 0.9em;
    color: var(--neon-base);
    width: 3.56vw;
    height: 1vh;
    display: block;
    position: relative;
    top: 7.5vh;
    left: 1vw;
}
    
#userwrap::after
{
    content: "";
    background-color: var(--neon-base);
    width: 23.28vw;
    position: relative;
    margin-left: 0.85vw;
    height: 0.1vh;
    display: block;
}
    
#passwrap::before
{
    content: "Password:";
    font-size: 0.9em;
    color: var(--neon-base);
    width: 3.56vw;
    height: 1vh;
    display: block;
    position: relative;
    top: 7.5vh;
    left: 1vw;
}
    
#passwrap::after
{
    content: "";
    background-color: var(--neon-base);
    width: 23.28vw;
    position: relative;
    margin-left: 0.85vw;
    height: 0.1vh;
    display: block;
}

#userwrapW::before
{
    content: "Username:";
    font-size: 0.9em;
    color: var(--neon-base);
    width: 3.56vw;
    height: 1vh;
    display: block;
    position: relative;
    top: 7.65vh;
    left: 1vw;
}
    
#userwrapW::after
{
    content: "";
    background-color: var(--neon-base);
    width: 38.33vw;
    position: relative;
    margin-left: 0.85vw;
    height: 0.1vh;
    display: block;
}
    
#passwrapW::before
{
    content: "Password:";
    font-size: 0.9em;
    color: var(--neon-base);
    width: 3.56vw;
    height: 1vh;
    display: block;
    position: relative;
    top: 7.65vh;
    left: 1vw;
}
    
#passwrapW::after
{
    content: "";
    background-color: var(--neon-base);
    width: 38.33vw;
    position: relative;
    margin-left: 0.85vw;
    height: 0.1vh;
    display: block;
}

#reenterwrapW::before
{
    content: "Re-enter Password:";
    font-size: 0.9em;
    color: var(--neon-base);
    width: auto;
    height: 1vh;
    display: block;
    position: relative;
    top: 7.65vh;
    left: 1vw;
}
    
#reenterwrapW::after
{
    content: "";
    background-color: var(--neon-base);
    width: 38.33vw;
    position: relative;
    margin-left: 0.85vw;
    height: 0.1vh;
    display: block;
}

#loginform button
{
    color: white;
    font-size: 1em;
    font-family: 'JetBrains Mono', monospace;
    background-color: rgba(0, 0, 0, 0);
    width: 11vw;
    height: 2.5em;
    border: 1px solid var(--neon-base);
    position: relative;
    top: 4em;
    left: 1.2vw;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

#loginform button:hover
{
    cursor: pointer;
    color: black;
    background-color: var(--neon-base);
}

#createform button
{
    color: white;
    font-size: 1em;
    font-family: 'JetBrains Mono', monospace;
    background-color: rgba(0, 0, 0, 0);
    width: 93%;
    height: 2.5em;
    border: 1px solid var(--neon-base);
    margin-top: 1.2vh;
    position: relative;
    top: 1.5vh;
    left: 1.4vw;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

#createform button:hover
{
    cursor: pointer;
    color: black;
    background-color: var(--neon-base);
}

p
{
    color: white;
    font-size: 0.5vw;
    text-align: center;
    width: 90%;
    margin-left: 1vw;
    position: relative;
    top: 25vh;
}

#validdash
{
    background-color: rgba(43, 42, 42, 0.6);
    color: white;
    font-size: 0.65em;
    width: 34vw;
    height: 10vh;
    position: relative;
    left: 4.27%;
    top: 1vh;
    display: flex;
    flex-direction: column;
    padding-top: 1.2vh;
}

#validdash li
{
    flex: 1;
    width: 30vw;
}

#validdash li i
{
    font-size: 1em;
    position: relative;
    top: 0.2vh;
    color: darkgreen;
}

@media (min-width: 1900px)
{
    #userwrap::before
    {
        content: "Username:";
        font-size: 0.9em;
        color: var(--neon-base);
        width: 3.56vw;
        height: 1vh;
        display: block;
        position: relative;
        top: 8vh;
        left: 1vw;
    }
    
    #userwrap::after
    {
        content: "";
        background-color: var(--neon-base);
        width: 23.28vw;
        position: relative;
        margin-left: 0.85vw;
        height: 0.1vh;
        display: block;
    }
    
    #passwrap::before
    {
        content: "Password:";
        font-size: 0.9em;
        color: var(--neon-base);
        width: 3.56vw;
        height: 1vh;
        display: block;
        position: relative;
        top: 8vh;
        left: 1vw;
    }
    
    #passwrap::after
    {
        content: "";
        background-color: var(--neon-base);
        width: 23.28vw;
        position: relative;
        margin-left: 0.85vw;
        height: 0.1vh;
        display: block;
    }

    #userwrapW::before
    {
            content: "Username:";
            font-size: 0.9em;
            color: var(--neon-base);
            width: 3.56vw;
            height: 1vh;
            display: block;
            position: relative;
            top: 8vh;
            left: 1vw;
    }
        
    #userwrapW::after
    {
        content: "";
        background-color: var(--neon-base);
        width: 38.33vw;
        position: relative;
        margin-left: 0.85vw;
        height: 0.1vh;
        display: block;
    }
        
    #passwrapW::before
    {
        content: "Password:";
        font-size: 0.9em;
        color: var(--neon-base);
        width: 3.56vw;
        height: 1vh;
        display: block;
        position: relative;
        top: 8vh;
        left: 1vw;
    }
        
    #passwrapW::after
    {
        content: "";
        background-color: var(--neon-base);
        width: 38.33vw;
        position: relative;
        margin-left: 0.85vw;
        height: 0.1vh;
        display: block;
    }

    #reenterwrapW::before
    {
        content: "Re-enter Password:";
        font-size: 0.9em;
        color: var(--neon-base);
        width: auto;
        height: 1vh;
        display: block;
        position: relative;
        top: 8vh;
        left: 1vw;
    }
        
    #reenterwrapW::after
    {
        content: "";
        background-color: var(--neon-base);
        width: 38.33vw;
        position: relative;
        margin-left: 0.85vw;
        height: 0.1vh;
        display: block;
    }

    #validdash
    {
        left: 4.85%;
    }
}