@import 'anim.css';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body
{
    background:black;
    width: 100%;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

.wire
{
    background: black;
    margin: 0;
    margin-top: 7vh;
    width: 100%;
    height: 3.3em;
    animation-name: pulse;
    animation-duration: 3.17s;
    animation-iteration-count: infinite;
}

#w1
{
    animation-direction: alternate-reverse;
    animation-delay: 1s;
}

#w2
{
    animation-delay: 3.67s;
    animation-direction: alternate-reverse;
}

#w3
{
    animation-delay: 2s;
    animation-direction: alternate;
}

#w4
{
    animation-delay: 4.759s;
    animation-direction: alternate;
}

#w5
{
    animation-delay: 2.67s;
    animation-direction: alternate-reverse;
}

path
{
    transform: scale(1.25, 0.275);
}

#w3 path
{
    transform: scale(1.48, 0.22);
}

#w4 path
{
    transform: scale(1.25, 0.275);
}

#w5 path
{
    transform: scale(1.25, 0.25);
}

#bottom
{
    position: relative;
    top: -2.5rem;
}

#logincontainer
{   
    position: absolute;
    z-index: 9;
    width: 25vw;
    height: 74vh;
    top: 8vh;
    left: 19.5vw;
    border: 1px solid black;
    background: linear-gradient(to top, #0d0d0d, #171717);
}

#signupcontainer
{
    position: absolute;
    z-index: 9;
    width: 40vw;
    height: 74vh;
    top: 8vh;
    left: 45.5vw;
    border: 1px solid black;
    background: linear-gradient(to top, #0d0d0d, #171717);
}

.dashbar
{
    color: white;
    padding: 0.5vh;
    text-align: center;
}

.dashbar::after
{
    content: "";
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 3%, #FF008B 3% 98%, rgba(0, 0, 0, 0) 98%);;
    width: 100%;
    height: 1px;
    display: block;
}

#loginform input
{
    background-color: /*#2e2b2b*/#1d1d1d;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.1em;
    margin-left: 0.85vw;
    color: white;
    width: 23.1vw;
    height: 3vh;
    margin-top: 9vh;
    border: none;
    outline: none;
}

#createform input
{
    background-color: /*#2e2b2b*/#1d1d1d;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.1em;
    margin-left: 0.85vw;
    color: white;
    width: 38.1vw;
    height: 3vh;
    margin-top: 9vh;
    border: none;
    outline: none;
}

#loginform input:hover
{
    background-color: rgba(41, 39, 39, 0.75);
}

#createform input:hover
{
    background-color: rgba(41, 39, 39, 0.75);
}

#userwrap::before
{
    content: "Username:";
    font-size: 0.9em;
    color: #FF008B;
    width: 3.56vw;
    height: 1vh;
    display: block;
    position: relative;
    top: 7.5vh;
    left: 1vw;
}
    
#userwrap::after
{
    content: "";
    background-color: #FF008B;
    width: 23.28vw;
    position: relative;
    margin-left: 0.85vw;
    height: 0.1vh;
    display: block;
}
    
#passwrap::before
{
    content: "Password:";
    font-size: 0.9em;
    color: #FF008B;
    width: 3.56vw;
    height: 1vh;
    display: block;
    position: relative;
    top: 7.5vh;
    left: 1vw;
}
    
#passwrap::after
{
    content: "";
    background-color: #FF008B;
    width: 23.28vw;
    position: relative;
    margin-left: 0.85vw;
    height: 0.1vh;
    display: block;
}

#userwrapW::before
{
    content: "Username:";
    font-size: 0.9em;
    color: #FF008B;
    width: 3.56vw;
    height: 1vh;
    display: block;
    position: relative;
    top: 7.65vh;
    left: 1vw;
}
    
#userwrapW::after
{
    content: "";
    background-color: #FF008B;
    width: 38.33vw;
    position: relative;
    margin-left: 0.85vw;
    height: 0.1vh;
    display: block;
}
    
#passwrapW::before
{
    content: "Password:";
    font-size: 0.9em;
    color: #FF008B;
    width: 3.56vw;
    height: 1vh;
    display: block;
    position: relative;
    top: 7.65vh;
    left: 1vw;
}
    
#passwrapW::after
{
    content: "";
    background-color: #FF008B;
    width: 38.33vw;
    position: relative;
    margin-left: 0.85vw;
    height: 0.1vh;
    display: block;
}

#reenterwrapW::before
{
    content: "Re-enter Password:";
    font-size: 0.9em;
    color: #FF008B;
    width: auto;
    height: 1vh;
    display: block;
    position: relative;
    top: 7.65vh;
    left: 1vw;
}
    
#reenterwrapW::after
{
    content: "";
    background-color: #FF008B;
    width: 38.33vw;
    position: relative;
    margin-left: 0.85vw;
    height: 0.1vh;
    display: block;
}

#loginform button
{
    color: white;
    font-size: 1em;
    font-family: 'JetBrains Mono', monospace;
    background-color: rgba(0, 0, 0, 0);
    width: 11vw;
    height: 2.5em;
    border: 1px solid #FF008B;
    position: relative;
    top: 4em;
    left: 1.2vw;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

#loginform button:hover
{
    cursor: pointer;
    color: black;
    background-color: #FF008B;
}

#createform button
{
    color: white;
    font-size: 1em;
    font-family: 'JetBrains Mono', monospace;
    background-color: rgba(0, 0, 0, 0);
    width: 93%;
    height: 2.5em;
    border: 1px solid #FF008B;
    margin-top: 1.2vh;
    position: relative;
    top: 1.5vh;
    left: 1.4vw;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

#createform button:hover
{
    cursor: pointer;
    color: black;
    background-color: #FF008B;
}

p
{
    color: white;
    font-size: 0.5vw;
    text-align: center;
    width: 90%;
    margin-left: 1vw;
    position: relative;
    top: 25vh;
}

#validdash
{
    background-color: rgba(43, 42, 42, 0.6);
    color: white;
    font-size: 0.65em;
    width: 34vw;
    height: 10vh;
    position: relative;
    left: 4.27%;
    top: 1vh;
    display: flex;
    flex-direction: column;
    padding-top: 1.2vh;
}

#validdash li
{
    flex: 1;
    width: 30vw;
}

#validdash li i
{
    font-size: 1em;
    position: relative;
    top: 0.2vh;
    color: darkgreen;
}

@media (min-width: 1900px)
{
    .wire
    {
        height: 4.3em;
    }

    #userwrap::before
    {
        content: "Username:";
        font-size: 0.9em;
        color: #FF008B;
        width: 3.56vw;
        height: 1vh;
        display: block;
        position: relative;
        top: 8vh;
        left: 1vw;
    }
    
    #userwrap::after
    {
        content: "";
        background-color: #FF008B;
        width: 23.28vw;
        position: relative;
        margin-left: 0.85vw;
        height: 0.1vh;
        display: block;
    }
    
    #passwrap::before
    {
        content: "Password:";
        font-size: 0.9em;
        color: #FF008B;
        width: 3.56vw;
        height: 1vh;
        display: block;
        position: relative;
        top: 8vh;
        left: 1vw;
    }
    
    #passwrap::after
    {
        content: "";
        background-color: #FF008B;
        width: 23.28vw;
        position: relative;
        margin-left: 0.85vw;
        height: 0.1vh;
        display: block;
    }

    #userwrapW::before
    {
            content: "Username:";
            font-size: 0.9em;
            color: #FF008B;
            width: 3.56vw;
            height: 1vh;
            display: block;
            position: relative;
            top: 8vh;
            left: 1vw;
    }
        
    #userwrapW::after
    {
        content: "";
        background-color: #FF008B;
        width: 38.33vw;
        position: relative;
        margin-left: 0.85vw;
        height: 0.1vh;
        display: block;
    }
        
    #passwrapW::before
    {
        content: "Password:";
        font-size: 0.9em;
        color: #FF008B;
        width: 3.56vw;
        height: 1vh;
        display: block;
        position: relative;
        top: 8vh;
        left: 1vw;
    }
        
    #passwrapW::after
    {
        content: "";
        background-color: #FF008B;
        width: 38.33vw;
        position: relative;
        margin-left: 0.85vw;
        height: 0.1vh;
        display: block;
    }

    #reenterwrapW::before
    {
        content: "Re-enter Password:";
        font-size: 0.9em;
        color: #FF008B;
        width: auto;
        height: 1vh;
        display: block;
        position: relative;
        top: 8vh;
        left: 1vw;
    }
        
    #reenterwrapW::after
    {
        content: "";
        background-color: #FF008B;
        width: 38.33vw;
        position: relative;
        margin-left: 0.85vw;
        height: 0.1vh;
        display: block;
    }

    #validdash
    {
        left: 4.85%;
    }
}